.static-header  {
  background-color: #C48FFF !important;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: white;
  height: 70px;
}

.static-header core-toolbar{
  background-color: #C48FFF !important;
  color: white;
	border-width: 0px;
}