.static-header {
	background-color: #C48FFF;
	color: #fff;
}

.static-header__wrapper {
	width: 1000px;
}

.static-header__logo {
	width: 35px;
	margin-right: 10px;
}

.static-header__title {
  font-family: "Lora";
  font-style: italic;
  font-size: 25px;
}