@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Игра по инфостилю";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="import" href="~/Scripts/polymer/paper-button/paper-button.html">
<link rel="import" href="~/Controls/crawl-line.html">
<link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=ru'
    rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
<link href="/Content/running-style.css" rel="stylesheet" />
  <div class="header">
    <div class="content">
      <div class="logo">Это инфостиль, детка!</div>
      <user-info></user-info>
    </div>
  </div>

  <div class="content">
    <h1>Вводные слова</h1>
    <p>
      Вводные слова, которые обозначают очевидность и известность фактов, требуют доказательств. Иначе они снижают доверие к тексту.
    </p>
    <p>
      Подстрели все стоп-слова:
    </p>
    <crawl-line></crawl-line>
  </div>

