@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Игра по инфостилю";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="import" href="~/Scripts/polymer/paper-button/paper-button.html">
<link rel="import" href="~/Controls/crawl-line.html">

<h2>Бегущая строка</h2>
<crawl-line></crawl-line>
