<script src="http://vk.com/js/api/openapi.js"></script>

<h2>Статус авторизации:</h2>
<div id="loginstatus"></div>
<button id="login" onclick="logIn()">ВОЙТИ</button>

<script>
    VK.init({
        apiId: 4793375
    });

    function checkVkLogin(onSuccess, onError) {
        window.VK.Auth.getLoginStatus(function (response) {
            if (response.session) {
                onSuccess();
            } else {
                onError();
            }
        });
    }

    function vkLogin(onSuccess, onError) {
        window.VK.Auth.login(function (response) {
            if (response.session) {
                onSuccess();
            } else {
                onError();
            }
        });
    }

    function logIn() {
        vkLogin(function() { window.location.href = "/" }, function() { alert("Can't login") });
    }

    checkVkLogin(function () { $('#loginstatus').html('Ok') }, function () { $('#loginstatus').html('False') });
</script>