@{
    ViewBag.Title = "Карта";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="import" href="~/Controls/level-link.html">

<div class="header">
    <div class="content">
      <div class="logo">Это инфостиль, детка!</div>
      <user-info></user-info>
    </div>
  </div>

<div class="content">
    <div class="island-first">
        <level-link number="1" x="60" y="150" disable="true"></level-link>
        <level-link number="2" x="150" y="50" disable="true"></level-link>
        <level-link number="3" x="280" y="120" disable="true"></level-link>
    </div>
    <div class="island-second">
        <level-link number="4" x="60" y="150" disable="true"></level-link>
        <level-link number="5" x="150" y="50" disable="true"></level-link>
    </div>
    <div class="island-ezh"></div>
</div>

<script>
    Api.GetUserProgress().done(function(progress) {
        var l = progress.CurrentLevel;
        for (var i = 0; i <= l; i++)
            $('level-link[number=' + i + ']').attr("disable", "false");

        $('level-link[number=' + l + ']').attr("current", "true");
    });
</script>