@{
    ViewBag.Title = "Карта";
    Layout = "../Shared/_Layout.cshtml";
}

  <div class="header">
    <div class="content">
      <div class="logo">Это инфостиль, детка!</div>
      <div class="user-info">
        <div><img src="Content/resources/avatar.png" alt="Максон"></div>
        <div>Максон</div>
        <div class="aligner"></div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="island-first">
      <div class="level first current"><span><a href="/App">1</a></span></div>
      <div class="level second disable"><span>2</span></div>
      <div class="level third disable"><span>3</span></div>
    </div>
    <div class="island-second">
      <div class="level first disable"><span>4</span></div>
      <div class="level second disable"><span>5</span></div>
    </div>
    <div class="island-ezh"></div>
  </div>