@using System.Web.Mvc.Html
@model bool

@{
    ViewBag.Title = "Игра по инфостилю";
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="import" href="~/Controls/level-link.html">
<link rel="import" href="~/Controls/login-frame.html">

<div class="header">
    <div class="content">
        <div class="logo">Это инфостиль, детка!</div>
        @if (Model)
        {
            <user-info></user-info>
        }
    </div>
  </div>

<div class="content">

    <div class="island-first">
        <img src="/Content/resources/Swamp.png" alt="1st island" />
        <level-link number="1" x="80" y="50" disable="true"></level-link>
        <level-link number="2" x="150" y="180" disable="true"></level-link>
        <level-link number="3" x="280" y="120" disable="true"></level-link>
        <level-link number="4" x="430" y="120" disable="true"></level-link>
        <level-link number="5" x="440" y="200" disable="true"></level-link>
    </div>
    <div class="island-ezh">
        <a href="ezh"><img src="/Content/resources/Hedgehog.png" alt="2st island" /></a>
    </div>
    
</div>
@if (!Model)
{
    <login-frame></login-frame>
}

@if (Model)
{
    <script>
        Api.GetUserProgress().done(function(progress) {
            var l = progress.CurrentLevel + 1;
            if (l > 3)
                l = 3;
            for (var i = 0; i <= l; i++)
                $('level-link[number=' + i + ']').attr("disable", "false");

            $('level-link[number=' + l + ']').attr("current", "true");
        });
    </script>
}