body.main {
  background: #ffffff;
  line-height: 1.4em;
}

p {
  max-width: 600px;
  margin-top: 40px;
}

h1 {
  margin-top: 50px;
  font-family: "Lora";
  font-style: italic;
  font-weight: normal;
}

.crawl-line {
  border: solid 1px grey;
  height: 20px;
}

.crawl-line:hover {
  cursor: url(resources/cursor-gun.png), auto;
}